{% extends 'base.html' %}

{% block stylesheet %}{{ url_for('static', filename='article_generator.css') }}{% endblock %}

{% block header %}Article generator{% endblock %}

{% block content %}
    <div class="article-container">
        <textarea id="user-input" placeholder="Enter your prompt here..."></textarea>

        <div class="button-container">
            <button onclick="start_generating()" id="send-button">Send</button>
            <button onclick="stop_generating()" id="stop-button" style="background: grey" disabled>Stop</button>
            <label for="temp">Temperature:</label>
            <input type="number" id="temp" value="1" min="0.1" max="5" step="0.1">
            <label for="top_p">Top_p:</label>
            <input type="number" id="top_p" value="1" min="0.1" max="5" step="0.1">
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    <script src="{{ url_for('static', filename='article_generator.js') }}"></script>
{% endblock %}
