<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form method="post">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>

        <label for="password">password:</label><br>
        <input type="password" id="password" name="password"><br>

        <br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>